@import url('https://fonts.googleapis.com/css?family=Righteous');

/* General styling */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Righteous';
    background-color: antiquewhite;
    height: 100%;
    max-width: 1200px;
    margin: auto;

}

/* Header */

#game-controler {
    max-width: 940px;
    display: flex;
    justify-content: space-around;
    margin: auto;


}

#game-title {
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    margin-bottom: -20px;
    width: 100vw;
    max-width: 940px;
}

.title {
    font-size: 2.8rem;
}

#start {
    margin-top: .25rem;
    margin-bottom: .25rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #28a745;
    border-color: #28a745;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Game Board */
#board-game {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    height: calc(90vh - 60px);
    width: 100vw;
    max-width: 940px;
    margin: auto;
}

#simon-game,
#colors {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
}

#simon-game {
    height: 70vh;
    width: 70vh;
}

#colors {
    align-content: center;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    box-shadow: 2px 2px 4px 1px #444444;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.colors-size {
    height: 50%;
    width: 50%;
    border-style: solid;
    border-width: 5px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#green {
    border-radius: 100% 0 0 0;
    background-color: #016401;
}

#red {
    border-radius: 0 100% 0 0;
    background-color: #940202;
}

#yellow {
    border-radius: 0 0 0 100%;
    background-color: #d49e13;
}

#blue {
    border-radius: 0 0 100% 0;
    background-color: #010191;
}

/* Brightens up the selected colour */
.playing {
    transform: scale(1.05);
    box-shadow: 0 0 0.2vmin #888888;
    border-color: #888888;
    filter: brightness(10);
    transition: all .6s ease;
}

.game-display {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    position: absolute;
    top: 25%;
    left: 25%;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background-color: #f5f5dc;
    border: 1.1vmin solid #111;
}

.counter {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-basis: 100%;
    box-sizing: border-box;
    padding-top: 2vmin;
}

.game-counter {
    background: #330000;
    color: rgb(255, 0, 0);
    font-family: courier;
    font-size: 6vmin;
    height: 6.5vmin;
    width: 8vmin;
    text-align: center;
}

.game-counter-legend {
    padding-top: 0.3vmin;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 60px;
    background-color: #141429;
}

.social-icons {
    display: flex;
}

.social-icons > a {
    color: #f9ebd7;
    font-size: 2rem;
    margin: 15px;
}

.copywright {
    font-family: Arial, Helvetica, sans-serif;
    color: #f9ebd7;
    font-size: 1rem;
}

/* Media queries */
@media screen and (max-width: 568px) {
    #simon-game {
        height: 80vw;
        width: 80vw;
    }

    .game-title {
        padding-top: 5px;
        margin-bottom: -60px;
    }

    .title {
        font-size: 1.5rem;
    }

    #footer {
        max-height: 40px;
    }

    .social-icons > a {
        font-size: 1rem;
    }

    .copywright {
        font-size: .5rem;
    }
}

@media screen and (max-width: 820px) {
    #simon-game {
        height: 90vw;
        width: 90vw;
    }

    .game-title {
        padding-top: 5px;
        margin-bottom: -60px;
    }
}